<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <br />
    <p> <a href="https://github.com/rzmk/simple-blog">Click here to see this project's details.</a> </p>
<%- include("partials/footer"); -%>
