<%- include("partials/header"); -%>
<style>
    body{
        background: #eee;
    }
    span{
        font-size:15px;
    }
    a{
        text-decoration:none; 
        color: #1abc9c;
        border-bottom:2px solid #1abc9c;
    }
    .box{
        padding:60px 0px;
    }

    .box-part{
        background:#FFF;
        border-radius:0;
        padding:60px 10px;
        margin:30px 0px;
    }
    .text{
        margin:20px 0px;
    }

    .fa{
        color:#47cab0;
    }

    .contact-title {
        margin-bottom: -5rem;
    }
</style>

<div align="center">
    <h1 class="contact-title">Contact</h1>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
    <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                
                    <div class="box-part text-center">
                        
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                        
                        <div class="title">
                            <h4>GitHub</h4>
                        </div>
                        
                        <div class="text">
                            <span>Explore a variety of projects and code here. Websites, scripts, club & group work, and more!</span>
                        </div>
                        
                        <a href="https://github.com/rzmk">Explore now</a>
                        
                        </div>
                </div>	 
                
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                
                    <div class="box-part text-center">
                        
                        <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
                    
                        <div class="title">
                            <h4>Linkedin</h4>
                        </div>
                        
                        <div class="text">
                            <span>Connect through Linkedin. View my past and current professional development here!</span>
                        </div>
                        
                        <a href="https://linkedin.com/in/mueez-khan">Connect now</a>
                        
                        </div>
                </div>	 
                
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                
                    <div class="box-part text-center">
                        
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                        
                        <div class="title">
                            <h4>Twitter</h4>
                        </div>
                        
                        <div class="text">
                            <span>Scroll the feed here! I post here occasionally, and always like on Fridays.</span>
                        </div>
                        
                        <a href="https://twitter.com/mueezkhan_">Scroll here</a>
                        
                        </div>
                </div>	 
            </div>
        
        </div>		
    </div>
</div>
<%- include("partials/footer"); -%>
