<%- include("partials/header"); -%>
<body class="text-center">
    <main class="form-signin">
        <form action="/login" class="form-signin" method="POST">
          <h1 class="h3 mb-3 fw-normal">Blog Login</h1>
          <input class="form-control" type="text" name="passInput" autofocus>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
          <p class="mt-5 mb-3 text-muted">&copy; Mueez Khan</p>
        </form>
      </main>
</body>

<%- include("partials/footer"); -%>